body
{
    margin:0;
}
@font-face 
{
    font-family: calibre_semi_bold;
    src: url("../ressources/polices/CalibreSemibold.otf");
    font-weight: swap;
}
@font-face
{
	font-family: raleway_semi_bold;
	src: url("../ressources/polices/Raleway-SemiBold.ttf");
	font-display: swap;
}
@font-face
{
	font-family: calibre_regular;
	src: url("../ressources/polices/CalibreRegular.otf");
	font-display: swap;
}
@font-face
{
	font-family: proxima_nova_bold;
	src: url("../ressources/polices/ProximaNovaBold.otf");
	font-display: swap;
}

html,body
{ 
	width:100%;
    height:100%;
	background:black;
}

.accueil
{
    margin-bottom:340px;
}

.text
{
    position:relative;
    margin-left:15%;
    align-items: flex-start;
}
.text1
{
    padding-top:150px;
    font-family: raleway_semi_bold;
    font-size: 16px;
    color: var(--bleu_clair);
}

.text2
{
    font-family: calibre_semi_bold;
    font-size: clamp(40px, 8vw, 80px);
    color: var(--blanc);
    margin-top:15px;
}

.text3
{
    font-family: calibre_semi_bold;
    font-size: clamp(40px, 8vw, 80px);
    color: var(--gris);
    margin-top:15px;
}

.text4
{
    font-family: calibre_regular;
    max-width: 420px;
    font-size: 20px;
    color: var(--gris);
    line-height: 1.3;
    margin-top:15px;
}

.lien
{
    display: inline-block;
    position: relative;
    color: var(--bleu_clair);
    text-decoration: none;
    cursor: pointer;
}

.lien:hover
{
    text-decoration: underline;
}

.button
{
    margin-top:100px;
    margin-left:15%;
    margin-right:30%;
    position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: all;
	border: 2px solid var(--bleu_clair);
	padding: 15px 35px 15px 40px;
	border-radius: 40px;
	font-family: raleway_semi_bold;
	font-size: 16px;
	color: var(--bleu_clair);
	text-decoration: none;
	background-color: none;
	transition: background-color 0.3s ease;
}

.button:hover
{
	background-color: var(--bleu_opaque);
}

.button .button_arrow
{
	height: 13px;
	margin-left: 15px;
	fill: none;
	stroke: var(--bleu_clair);
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.button .button_arrow .path_1, .button .button_arrow .path_2
{
	transition: all 0.3s ease;
}

.button:hover .button_arrow .path_1
{
	d: path("M8.85 1.5 L8.85 15.89");
	d: "M8.85 1.5 L8.85 15.89";
}

.button:hover .button_arrow .path_2
{
	d: path("M16.19 8.54 8.85 15.89 1.5 8.54");
	d: "M16.19 8.54 8.85 15.89 1.5 8.54";
}

.presentation
{
    position:relative;
    color:var(--bleu);
    background-color: var(--blanc);
    margin-bottom:200px;
}

.titre1
{
    padding-top:30px;
    text-align: center;
    color: var(--titre_noir);
    font-family: proxima_nova_bold;
    font-size: 40px;
    margin-bottom: 70px;
}

footer
{
    background-color: var(--texte_noir);
}

body
{
    --bleu_clair: #56dcfc;
    --bleu: #197dff;
    --gris: #8ea9bf;
    --blanc: #f6f9fc;
    --bleu_fonce: #101d30;
    --bleu_opaque:rgba(86, 220, 252, 0.15);
    --titre_noir: #2b3954;
    --texte_noir: #425466;
}

canvas
{
    display:block;
    vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js
{
    
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
